In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
#Return DataFrame with data on all Mass Shootings occuring in 2015.
#Data provided by Gun Violence Archive (http://www.gunviolencearchive.org/reports/mass-shootings/2015)

df = pd.read_csv('mass_shootings_2015.csv')

In [8]:
df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,476321,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,6,NaN
1,473882,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4,NaN
2,472268,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4,NaN
3,471867,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4,NaN
4,471860,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4,NaN

In [11]:
df.State

0         Louisiana
1         Tennessee
2      Pennsylvania
3           Florida
4           Alabama
           ...
330         Florida
331        Virginia
332           Texas
333         Georgia
334       Tennessee
Name: State, Length: 335, dtype: object